body {
    background-color: lightsteelblue;
}

nav {
    background-color: darkcyan;
}

nav ul {
    list-style-type: none;
}

nav li {
    line-height: 30px;
}

navbar-nav > li {
    color: cornsilk;
}

nav a {
    text-decoration: none;
}

/*
nav li.active a {
    color: #ffffff;
}
*/
.navlink {
    color: cornsilk !important;
}

.sublink {
    color: cornsilk !important;
}

.navbar-nav a:hover {
    background-color: #2ea0a0 !important;
}

.dropdown-menu {
    background-color: darkcyan;
}
