---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

  <div class="post-content">
    <h2>Faculty/Sections:</h2>
    <ul>
      {%- for facmember in site.data[page.course].faculty -%}
      <li>
        <a target="_blank"
           rel="noopener noreferrer"
           href="{{ facmember.url }}">
          {{ facmember.name }}
        </a>
      </li>
      {%- endfor -%}
    </ul>
    <h2>Resources</h2>
    <ul>
      {%- for res in site.data[page.course].resources -%}
      <li>
        <a target="_blank"
           rel="noopener noreferrer"
           href= "{{ res.url }}">
          {{ res.name }}
        </a>
      </li>
      {%- endfor -%}
    </ul>
  </div>

</article>
